<?

define( NCSM_BASE_HREF, "http://ncsmodules.unl.edu/" );
define( LS_BASE_HREF, "http://ncsmodules.unl.edu/loveandseduction/" );
define( IL_BASE_HREF, "Http://ncsmodules.unl.edu/liberty/" );
define( SOLR_BASE_HREF, "http://localhost:8983/solr/" );

?>
